<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>签到查询</title>
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../css/weixin-style.css">
</head>
<body>
	
	<!-- banner -->
	<header class="banner">
		<div class="container-fluid">
			<div class="row">
				<img src="../images/banner-weixin.jpg" alt="" class="img-responsive">
			</div>
		</div>
	</header>

	<!-- message -->
	<section class="message">
		<div class="container">
			<div class="row">
				<ul class="message-basic col-xs-10 col-sm-10 col-xs-offset-1 col-sm-offset-1">
					<li><span class="message-icon"><img src="../images/calendar.png" alt=""></span>2015年11月17日（星期二）</li>
					<li><span class="message-icon"><img src="../images/child.png" alt=""></span>钟华（苹果班）</li>
				</ul>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<ul class="message-company">
					<li class="alert alert-success" role="alert">
						陪同人：爸爸<br/>
						到校时间：7:00
					</li>
					<li class="alert alert-danger" role="alert">
						陪同人：爷爷<br/>
						离校时间：11:00
					</li>
					<li class="alert alert-success" role="alert">
						陪同人：奶奶<br/>
						到校时间：13:00
					</li>
					<li class="alert alert-danger" role="alert">
						陪同人：妈妈<br/>
						离校时间：16:00
					</li>
				</ul>
			</div>
		</div>
	</section>
</body>
</html>