<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>签到查询</title>
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../css/weixin-style.css">
</head>
<body>
	<header class="header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-2 col-xs-2 header-return">
					<a href="#"></a>
				</div>
				<div class="col-sm-8 col-xs-8">
					<h1>签到查询</h1>
				</div>
				<div class="col-sm-2 col-xs-2 header-calendar">
					<a href="#"></a>
				</div>
			</div>
		</div>
	</header>
	
	<section class="message">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="list-group">
					<ul class="list-group">
						<li class="list-group-item">日期：2015年11月17日（星期二）</li>
						<li class="list-group-item">孩子姓名：钟华</li>
					</ul>
				</div>
			</div>
			<div class="panel-bpdy">
				<ul class="list-group">
					<li class="list-group-item">陪同人：爸爸</li>
					<li class="list-group-item">到园时间：7:30AM</li>
				</ul>
				<ul class="list-group">
					<li class="list-group-item">陪同人：妈妈</li>
					<li class="list-group-item">离园时间：11:30AM</li>
				</ul>
				<ul class="list-group">
					<li class="list-group-item">陪同人：爷爷</li>
					<li class="list-group-item">到园时间：13:30PM</li>
				</ul>
				<ul class="list-group">
					<li class="list-group-item">陪同人：奶奶</li>
					<li class="list-group-item">离园时间：16:30PM</li>
				</ul>
			</div>
		</div>
	</section>
</body>
</html>